body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    gap: 5rem;
}
.options{
    display: flex;
    padding-left: 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 2.5em;
    height: 5em;
    background-color: dodgerblue;
    border-radius: 5px;
    border: 1px solid black;
    font-size: xx-large;
}

.player{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}